.cask
.DS_Store
.emacs.desktop
.emacs.desktop.lock
.lsp/
.places
.sx/
.yas-compiled-snippets.el
*.elc
*.pyc
*~
auto-save-list
backups
cider-history
custom.el
eln-cache/
elpa
elpy/
emms
ensime/
history
local/
projectile-bookmarks.eld
recentf
session.*
SessionDesktop.el
site-lisp/adventur-mode
smex-items
straight
swank
tramp
transient/history.el
url/
var/
/recentf.eld
